# Cross-Cohort Music Recommendation - Clustering

Now that you've completed EDA, utilize your insights to select the correct model and subsequently apply machine learning on your dataset.

## Questions
Is this a supervised or unsupervised task? Furthermore are we performing classification or regression?  

Answer here

Are you predicting for multiple classes or binary classes?  

Answer here

Given these observations, which machine learning model will you choose?  

Answer here

### 1) Set up your predictors

Use your cleaned and transformed dataset to divide your features and labels into training and testing sets. Make sure you’re only using numeric or properly encoded features.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# TODO: import your selected model and its evaluation metrics
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [11]:
# TODO: load in datase
music_df = pd.read_csv('../data/music_embeds.csv')
music_df.head()

,filename,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,...,dim_760,dim_761,dim_762,dim_763,dim_764,dim_765,dim_766,dim_767,song,genre
0,A Fan's Mail,-0.004854,-0.014205,-0.004760,-0.006950,0.000537,0.001243,-0.013726,0.000464,-0.006346,...,-0.003038,-0.008058,-0.006683,-0.001391,-0.011345,-0.002085,-0.004069,-0.017774,A Fan's Mail,funk
1,Abracadabra,-0.009634,-0.014021,-0.001026,-0.005184,-0.000343,0.000106,0.001932,-0.003759,-0.008788,...,-0.007019,-0.006988,-0.013948,-0.000976,-0.013896,-0.012256,0.008407,-0.011757,Abracadabra,pop
2,Aguas De Marco,0.001255,-0.017850,-0.013220,-0.004844,-0.004731,-0.008914,0.005198,-0.000873,-0.010008,...,0.000567,-0.015456,-0.005778,-0.003446,-0.016408,-0.015601,0.005135,-0.005079,Aguas De Marco,bossa nova
3,Another Time,-0.005455,-0.010048,-0.012848,0.015155,0.006223,0.003988,-0.007696,-0.000192,0.002167,...,-0.005628,-0.020266,-0.005505,-0.007672,-0.020972,-0.005813,-0.000709,-0.005729,Another Time,hip hop
4,Belong to the World,-0.003881,-0.003831,-0.004683,-0.017928,0.001103,0.005035,0.002506,-0.005794,-0.015744,...,-0.003443,0.002318,-0.010466,-0.018116,-0.008590,-0.010983,-0.009556,-0.004235,Belong to the World,hip hop

In [10]:
# TODO: select your predictor columns
X = music_df.drop(columns=['filename', 'song', 'genre'])
X.head()

,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,...,dim_758,dim_759,dim_760,dim_761,dim_762,dim_763,dim_764,dim_765,dim_766,dim_767
0,-0.004854,-0.014205,-0.004760,-0.006950,0.000537,0.001243,-0.013726,0.000464,-0.006346,0.005474,...,-0.013677,-0.067677,-0.003038,-0.008058,-0.006683,-0.001391,-0.011345,-0.002085,-0.004069,-0.017774
1,-0.009634,-0.014021,-0.001026,-0.005184,-0.000343,0.000106,0.001932,-0.003759,-0.008788,0.000868,...,0.016843,0.051512,-0.007019,-0.006988,-0.013948,-0.000976,-0.013896,-0.012256,0.008407,-0.011757
2,0.001255,-0.017850,-0.013220,-0.004844,-0.004731,-0.008914,0.005198,-0.000873,-0.010008,-0.006639,...,0.005032,-0.011055,0.000567,-0.015456,-0.005778,-0.003446,-0.016408,-0.015601,0.005135,-0.005079
3,-0.005455,-0.010048,-0.012848,0.015155,0.006223,0.003988,-0.007696,-0.000192,0.002167,-0.003131,...,-0.012346,-0.020413,-0.005628,-0.020266,-0.005505,-0.007672,-0.020972,-0.005813,-0.000709,-0.005729
4,-0.003881,-0.003831,-0.004683,-0.017928,0.001103,0.005035,0.002506,-0.005794,-0.015744,0.005363,...,-0.006812,0.014917,-0.003443,0.002318,-0.010466,-0.018116,-0.008590,-0.010983,-0.009556,-0.004235

### 2) Search for best clusters

Use tools the elbow method or silhouette score to find the best clusters for your model.

In [ ]:
...

### 3) Train your model

Select the model with best cluster number and generate predictions on your test set. Evaluate how "well" your model clustered songs by evaluating the songs that exist in the same cluster assignments.

In [ ]:
...

In [ ]:
# predict your labels on your predictors and assign it to a new column
labels = kmeans_music.predict(X)
songs["labels"] = labels

# view your cluster assignments
labeled_music = songs[["filename", "genre", "labels"]]
labeled_music.head()

              filename       genre  labels
0         A Fan's Mail        funk       2
1          Abracadabra         pop       1
2       Aguas De Marco  bossa nova       0
3         Another Time     hip hop       2
4  Belong to the World     hip hop       3

In [ ]:
# view the songs that fall into specific clusters, what sort of insight do you think was captured here?
labeled_music[labeled_music["labels"] == 4]

                    filename       genre  labels
19             Heart of Gold   folk rock       4
25       It's Possible Again  soundtrack       4
31  Love theme from the robe        jazz       4
47        Summer in the City        jazz       4
54                The Word 2         pop       4

Serialize your model and run it in your dashboard via `streamlit run recommender.py`

In [ ]:
# serialize your model
import joblib

joblib.dump(kmeans_music, "../kmeans_model.pkl")

['kmeans_model.pkl']